In [1]:
# pip install mysql-connector-python

In [2]:
import pandas as pd
import numpy as np
import mysql.connector as Myconn
from common_database_function import connect_db,create_table,insert_single,select_all,update_data,delete_data

In [3]:
Tabel_name = "Emp"

In [4]:
# mydb = Myconn.connect(
#     host="localhost",
#     user="root",
#     password="Koratj@y54321",
#     database="pythonWithMysql"
# )
mydb = connect_db(database_name='pythonWithMysql',password='Koratj@y54321')

Connected to the database

In [5]:
db_cursor = mydb.cursor()

## Create Database

In [6]:
create_table(db_cursor=db_cursor,tabel_name=Tabel_name)

Table 'Emp' created or already exists!

In [7]:
#db_cursor.execute("insert into emp(Roll,name) values(%s,%s)",(1,"jay"))
# db_cursor.execute("insert into emp(Roll,name) values (1,'jay')")
# mydb.commit()
# db_cursor.rowcount
insert_single(db_cursor=db_cursor,tabel_name=Tabel_name,mydb=mydb,roll="1",name="jay")

Inserted 1 row.

In [8]:
# db_insert = "insert into emp(Roll,name) values (%s,%s)"
# db_list = [(3,'sahil'),('4','xyz'),(5,'abc'),('6','meet')]

# db_cursor.executemany(db_insert,db_list)
# mydb.commit()
# db_cursor.rowcount

In [9]:
select_all(db_cursor=db_cursor,tabel_name=Tabel_name)

[(4, 'xyz'),
 (5, 'abc'),
 (4, 'xyz'),
 (5, 'abc'),
 (6, 'meet'),
 (4, 'xyz'),
 (5, 'abc'),
 (6, 'meet'),
 (15, 'jay'),
 (4, 'xyz'),
 (5, 'abc'),
 (6, 'meet'),
 (15, 'jay'),
 (4, 'xyz'),
 (5, 'abc'),
 (6, 'meet'),
 (15, 'jay'),
 (4, 'xyz'),
 (5, 'abc'),
 (6, 'meet'),
 (15, 'jay'),
 (15, 'jay'),
 (1, 'jay')]

In [10]:
update_data(db_cursor=db_cursor,tabel_name=Tabel_name,mydb=mydb,roll=15,name="asf")
# update_query = 'update emp set Roll=1 where name="ankit"'
# set_value = ('2','ankit')

Error updating data: 1292 (22007): Truncated incorrect DOUBLE value: 'asf'

In [15]:
# db_deletedata="delete from emp where name=%s"
# db_value=("sahil",)
# db_cursor.execute(db_deletedata,db_value)
# mydb.commit()
delete_data(db_cursor=db_cursor,tabel_name=Tabel_name,mydb=mydb,roll=5)

Deleted 6 row.

In [16]:
db_cursor.execute('select * from emp')

db_select = db_cursor.fetchall()
db_select

[(6, 'meet'), (6, 'meet'), (6, 'meet'), (6, 'meet'), (6, 'meet'), (1, 'jay')]